
:root {
    --light-gray-bg: #e5e5e5;
    --dark-gray-bg: #b5b5b5;
    --dark-purple-bg: #483d8b;
    --light-purple-bg: #D1D6FF;
    box-sizing: border-box;
}

/* typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.6em;
}

/* layout */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    height: 100%;
}

.container {
    display: flex;
}

.container-header {
    height: 40px;
    background-color: var(--dark-purple-bg);
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.container-side-bar {
    width: 16em;
    background-color: var(--light-gray-bg);
    height: 100%;
    border-right: solid 2px var(--dark-gray-bg);
    flex-direction: column;
    padding-top: 2em;
    overflow: hidden;
}

.container-todo-list {
    flex:1;
    max-width: 1280px;
    flex-direction: column;
    padding: 2em;
}

.container-todo-list-header ul {
    display: flex;
}

nav {
    padding: none;
    margin: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-side-bar li {
    margin: 1em 0 1em 2em;
    vertical-align: middle;
    padding: 0.4em 0;
    
}

#projects-list:before {
    display: block;
    content:'';
    margin:0 auto;
    border-top: solid 1px var(--dark-purple-bg);
    width: 90%;
}

.button:hover {
    font-weight: 800;
    cursor: pointer;
}

.button-icon:hover {
    transform: scale(1.2);
    
}

#todo-list-container .button {
    margin: 1em 0 0 2em;
}

.curent-tab {
    font-weight: 800;
}

.todo-task {
    display: grid;
    border-bottom: solid 1px var(--dark-gray-bg);
    grid-template-columns: 1.2em auto 8em 8em 1.5em;
    cursor: pointer;
    padding: 0.5em 0;
    align-items: center;
    grid-gap: 1em;
}

.task-title {
    grid-column: 2;
}

.task-project {
    grid-column: 3;
}

.task-date {
    grid-column: 4;
}

.task-buttons {
    grid-column: 5;
}

.todo-task:hover {
    background-color: var(--light-purple-bg);

}
.todo-task p {
    padding:0;
    margin: 0;
}


.check-button {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: solid 1px var(--dark-purple-bg);
    margin: 0 1em 0 0;
    padding:0;
    background-color: var(--light-gray-bg);
}

.check-button:hover {
    cursor: pointer;
    border: 2px solid black;
}

.check-button:focus {
    outline: none !important;
}


.burger-barn {
    margin: 0 0 0 2em;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.burger {
    width: 32px;
    height: 5px;
    background-color: var(--dark-gray-bg);
    margin: 2px 0;
    border-radius: 2.5px;
  }

  .burger-barn:hover {
      filter: brightness(50%);
  }
    
input[type="text"] {
    border: solid 1px var(--dark-gray-bg);
    width:50%;
    font-size: 1em;
    height: 2em;
}

input[type='date']{
    border: solid 1px var(--dark-gray-bg);
    height: 2em;
}

input[type='select'] {
    font-size: 16px;
}

#new-task-form {
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    margin: 1em 0;

}


.hidden {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    display: none !important;
    margin: 0;
    padding: 0;
    
}

.button-plus {
    box-shadow: 1.5px 1.5px 2px 1px var(--dark-gray-bg);
    background-color: var(--dark-purple-bg);
    color: white;
    border-radius: 50%;
    font-size: 30px;
    height: 1em;
    width:1em;
    margin:0 !important;
    padding:0;
    text-align: center;
    line-height: 30px;
}

.button-add-task {
    margin: 1em 0 !important;
}

#add-project-form {
    display: flex;

}

#add-project-form .button {
    margin: 0 1em !important;
}

#date-display {
    color:white;
    margin: 0 2em 0 0;
}

.checked {
    position: relative;
    filter: brightness(120%);
    color: gray;
    background-color:var(--light-purple-bg);

}

.checked:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 2em;
    right: 2em;
    
    border-bottom: 1px solid var(--dark-purple-bg);
    
    
}

.active {
    font-weight: 800;
}

/*The input form breaks at 946 pixels so this will put it into a column */
@media only screen and (max-width: 1030px){
    #new-task-form {
        flex-direction: column;
        align-items: flex-start;
        height: 12em;
    }
}

@media only screen and (max-width: 700px){
    main {
        flex-direction: column;
        align-items: center;
    }

    .container-header {
        position: fixed;
        width:100%;
        z-index: 2;
    }
    .container-side-bar {
        width:100%;
        height: auto;
        border-radius: 0 0 10px 10px;
        box-shadow: 3px 3px 8px 1px black;
        position: fixed;
        z-index: 1;
    }

    nav {
        margin: 1em 0 0 0;
    }

    .container-side-bar li {
        margin: .25em 0 .25em 2em;
        vertical-align: middle;
        padding: 0.4em 0;
        
    }
    .container-todo-list-header {
        justify-content: center;
    }

    .container-todo-list {
        width:90%;
    }

    .todo-task {
        grid-template-columns: 1.2em auto 0 auto 1.5em;
    }
    .task-project {
        display: none;
    }

    #new-task-form {
        flex-direction: column;
        align-items: flex-start;
        height: 12em;
    }

    #new-task-form input[type="text"] {
        width:90%;
        overflow:hidden;
    }

}